github "swisspol/GCDWebServer" ~> 3.3.3
github "SnapKit/SnapKit" "4.0.0"
github "adjust/ios_sdk" "v4.11.5"
github "cezheng/Fuzi" "master"
github "mozilla-mobile/AutocompleteTextField" "master"
github "mozilla-mobile/telemetry-ios" "f988392f10807fbc8c16af7232fd894c3ae3e410"
github "getsentry/sentry-cocoa" "3.2.1"
