// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/. */

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Mozilla settings
DEVELOPMENT_TEAM = 43AQ936H96
PRODUCT_BUNDLE_PREFIX = org.mozilla.ios
FOCUS_ENTITLEMENTS = Focus.entitlements

// Contributor settings
//DEVELOPMENT_TEAM = 12345ABCDE
//PRODUCT_BUNDLE_PREFIX = org.contributor
//FOCUS_ENTITLEMENTS = Focus_contributor.entitlements  // This is a fixed filename
