<dict>
  <key>ar</key>
  <string>Google</string>
  <key>as</key>
  <string>Google</string>
  <key>az</key>
  <string>Google</string>
  <key>be</key>
  <string>Google</string>
  <key>be-BY</key>
  <string>Яндекс</string>
  <key>bn-IN</key>
  <string>Google</string>
  <key>br</key>
  <string>Google</string>
  <key>ca</key>
  <string>Google</string>
  <key>cs</key>
  <string>Google</string>
  <key>cy</key>
  <string>Google</string>
  <key>da</key>
  <string>Google</string>
  <key>de</key>
  <string>Google</string>
  <key>dsb</key>
  <string>Google</string>
  <key>el</key>
  <string>Google</string>
  <key>en-CA</key>
  <string>Google</string>
  <key>en-GB</key>
  <string>Google</string>
  <key>en-US</key>
  <string>Google</string>
  <key>en-ZA</key>
  <string>Google</string>
  <key>eo</key>
  <string>Google</string>
  <key>es-AR</key>
  <string>Google</string>
  <key>es-CL</key>
  <string>Google</string>
  <key>es-ES</key>
  <string>Google</string>
  <key>es-MX</key>
  <string>Google</string>
  <key>et</key>
  <string>Google</string>
  <key>eu</key>
  <string>Google</string>
  <key>fa</key>
  <string>Google</string>
  <key>ff</key>
  <string>Google</string>
  <key>fi</key>
  <string>Google</string>
  <key>fr</key>
  <string>Google</string>
  <key>fy-NL</key>
  <string>Google</string>
  <key>ga-IE</key>
  <string>Google</string>
  <key>gd</key>
  <string>Google</string>
  <key>gl</key>
  <string>Google</string>
  <key>gu-IN</key>
  <string>Google</string>
  <key>he</key>
  <string>Google</string>
  <key>hi-IN</key>
  <string>Google</string>
  <key>hr</key>
  <string>Google</string>
  <key>hsb</key>
  <string>Google</string>
  <key>hu</key>
  <string>Google</string>
  <key>hy-AM</key>
  <string>Google</string>
  <key>id</key>
  <string>Google</string>
  <key>is</key>
  <string>Google</string>
  <key>it</key>
  <string>Google</string>
  <key>ja</key>
  <string>Google</string>
  <key>ka</key>
  <string>Google</string>
  <key>kk</key>
  <string>Google</string>
  <key>kk-KZ</key>
  <string>Яндекс</string>
  <key>kn</key>
  <string>Google</string>
  <key>ko</key>
  <string>Google</string>
  <key>lo</key>
  <string>Google</string>
  <key>lt</key>
  <string>Google</string>
  <key>lv</key>
  <string>Google</string>
  <key>ml</key>
  <string>Google</string>
  <key>mr</key>
  <string>Google</string>
  <key>ms</key>
  <string>Google</string>
  <key>my</key>
  <string>Google</string>
  <key>nb-NO</key>
  <string>Google</string>
  <key>nl</key>
  <string>Google</string>
  <key>nn-NO</key>
  <string>Google</string>
  <key>or</key>
  <string>Google</string>
  <key>pl</key>
  <string>Google</string>
  <key>pt-BR</key>
  <string>Google</string>
  <key>pt-PT</key>
  <string>Google</string>
  <key>rm</key>
  <string>Google</string>
  <key>ro</key>
  <string>Google</string>
  <key>ru</key>
  <string>Google</string>
  <key>ru-BY</key>
  <string>Яндекс</string>
  <key>ru-KZ</key>
  <string>Яндекс</string>
  <key>ru-RU</key>
  <string>Яндекс</string>
  <key>sk</key>
  <string>Google</string>
  <key>sl</key>
  <string>Google</string>
  <key>sq</key>
  <string>Google</string>
  <key>sr</key>
  <string>Google</string>
  <key>sv-SE</key>
  <string>Google</string>
  <key>ta</key>
  <string>Google</string>
  <key>te</key>
  <string>Google</string>
  <key>th</key>
  <string>Google</string>
  <key>tr</key>
  <string>Google</string>
  <key>tr-TR</key>
  <string>Yandex</string>
  <key>uk</key>
  <string>Google</string>
  <key>ur</key>
  <string>Google</string>
  <key>uz</key>
  <string>Google</string>
  <key>zh-CN</key>
  <string>百度</string>
  <key>zh-TW</key>
  <string>Google</string>
</dict>
